a{
    text-decoration: none !important;
}
.pagination button{
    background-color: lightgray !important;
    width: 30px;
    color: black;
}

div.dt-container .dt-paging .dt-paging-button{
    padding: 10px 3px !important;
}