.headings {
    background: #2779C4;
    margin-bottom: 15px;
    padding: 5px 15px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: 0 0 4px #ddd;
    font-family: Nunito
  }